body {
  border: thin black solid;
}

h1 {
  text-align: center;
}

blockquote {
  background-color: #dddddd;
  border-bottom: thick black solid;
  border-left: thick black solid;
  padding: 1%;
}

img {
  width: 20%;
  border: thin black solid;
  display: block;
  margin: 2em auto;
}
